header {
  padding-top: 120px;
  position: relative;
  height:500px;
  width:100%;
  text-align: center;
  background-color:lightslategray;
}


@media (min-width: 768px) {
  
  header {
    margin-left:20px;
    width:45%;
    float:left;
  }
}