header {
  padding-top: 120px;
  text-align:center;
  height:500px;
  width:100%;
  color:#f4f1ec;
  background-color: #778899;
background-image: url("https://www.transparenttextures.com/patterns/clean-gray-paper.png");
}

@media (min-width: 768px) {
  
  header {
    margin-left:10px;
    width:45%;
    float:left;
  }
}