
article {
  height: 300px;
  border: solid 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding:15px;
}

article:hover {
  box-shadow:  15px 15px 0px -5px salmon;
  transition: 0.3s;
}
header.tweet-header{
  display:flex;
  justify-content: space-between;
  background-color: #f4f1ec;
  
  padding:10px;
}
.tweet {
  font-weight: 600;
  padding-bottom:40px;
  border-bottom: solid 3px #545149;
}

i.fa-solid {
  padding: 5px;
  color: #5b7bdf;
}

i.fa-solid:hover {
  transform: scale(1.2);
  color: salmon;
  opacity: 0.6;
  transition: 0.3s;
}

.handle {
  color:lightgrey;
  font-weight: 600;
}

footer.tweet-footer{
display:flex;
justify-content: space-between;
}

.tweet-stats {
  padding-top:10px;
  font-size:15px;
  font-weight: 600;
}